<div id="another-action">
    <form name="form" ng-init="someOtherData='what?'">
        <div class="row" ng-init="t1='some text'">
            {{t1|myFilter}}
        </div>
        <input type="text" name="text" id="text" ng-model="someData" my-directive validation="someOtherData"/>
    </form>
</div>
