#new-activity
	.row
		margin: 0
		margin-top: 10px
		&.activityDate
			.dropdown-menu
				direction: ltr
		.ng-invalid
			border: 1px solid red
		textarea
			width:500px !important
			height:100px
		.form-control
			display: inline-block
			width: auto
